.margenes {
	margin-top: 5%;
}
#cabezote_profesor {
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	-moz-border-image: url(../images/linea.png) 0 0 1 repeat;
	-webkit-border-image: url(../images/linea.png) 0 0 1 repeat;
	-o-border-image: url(../images/linea.png) 0 0 1 repeat;
	border-image: url(../images/linea.png) 0 0 1 fill repeat;
	padding-bottom: 4px;
}

.titulo_cabezote_largo {
	font-family: 'Prosto One', cursive;
	font-size: 5em;
	text-align: center;
    color: #4c4c4c;
	line-height: 98%;
	margin-top: 5%
}
.titulo_cabezote_largo_small {
	font-family: 'Prosto One', cursive;
	font-size: 4em;
	text-align: center;
    color: #4c4c4c;
	line-height: 90%;
	margin-top: 5%
}
.imgs_profesor {
	-webkit-transition: all .8s ease-in-out;
	   -moz-transition: all .8s ease-in-out;
	    -ms-transition: all .8s ease-in-out;
	     -o-transition: all .8s ease-in-out;
	        transition: all .8s ease-in-out;
	background-color: rgba(76,76,76,0.8);
	padding: 1px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.imgs_profesor:hover {
	-webkit-transform: scale(0.9,0.9);
	   -moz-transform: scale(0.9,0.9);
	    -ms-transform: scale(0.9,0.9);
	     -o-transform: scale(0.9,0.9);
	        transform: scale(0.9,0.9);
	-webkit-transition: all .8s ease-in-out;
	   -moz-transition: all .8s ease-in-out;
	    -ms-transition: all .8s ease-in-out;
	     -o-transition: all .8s ease-in-out;
	        transition: all .8s ease-in-out;
	background-color: rgba(76,76,76,0.8);
	padding: 1px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.tabla_profesor {
	border-collapse: collapse;
	border-spacing: 0px;
}
.tcabeza {
	height: 44px;
	background-color: #4c4c4c;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	color: white;
	font-family: 'Prosto One', cursive;
	font-size: 1.5em;
	text-align: center;
	padding: 0px;
}
.tcuerpo {
	width: 300px;
	padding: 0px;
}
td[class*='tpie_'], td[class^='tpie_'] {
	height: 38px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: white;
	font-family: 'Prosto One', cursive;
	font-size: 2em;
	text-align: center;
	padding: 0px;
}
.tpie_azul{
	/*Azul*/
	background-color: #2e58a6;
}
.tpie_naranja{
	/*Naranja*/
	background-color: #df6a0e;
}
.tpie_verde{
	/*Verde*/
	background-color: #359980;
}
.tpie_violeta{
	/*Violeta*/
	background-color: #82027e;
}
.tpie_azul_claro{
	/*Azul Claro*/
	background-color: #4fa1ca;
}
.tpie_verde_limon{
	/*Verde Limón*/
	background-color: #bac71e;
}
.tpie_magenta{
	/*Magenta*/
	background-color: #e0013f;
}
.tpie_crema {
	/*Crema*/
	background-color: #bfac83;
}
.tpie_azul_uknbk {
	/*Azul Ukanbook*/
	background-color: #358ab5;
}
.tpie_gris {
	/*Gris*/
	background-color: #4c4c4c;
}

/* ------------------por materias */

.tpie_ingles{
	/*Azul*/
	background-color: #2e58a6;
}
.tpie_lenguaje{
	/*Naranja*/
	background-color: #df6a0e;
}
.tpie_fisica{
	/*Verde*/
	background-color: #359980;
}
.tpie_quimica{
	/*Violeta*/
	background-color: #82027e;
}
.tpie_sociales{
	/*Azul Claro*/
	background-color: #4fa1ca;
}
.tpie_biologia{
	/*Verde Limón*/
	background-color: #bac71e;
}
.tpie_matematicas{
	/*Magenta*/
	background-color: #e0013f;
}
.tpie_filosofia {
	/*Crema*/
	background-color: #bfac83;
}
.tpie_saber {
	/*Azul Ukanbook*/
	background-color: #358ab5;
}


.center_text {
	text-align: center;
}
.ancho_tus_cursos {
	max-width: 219px;
}
.ancho_enlaces_interes {
	max-width: 222px;
}
a[id*="volver"] {
	font-family: 'Prosto One', cursive;
	font-size: 1.5em;
	color: #00adef;
	padding-left: 1%;
}
a[id^="volver"]:hover {
	color: #3886A4;
	padding-left: 1%;
}
.texto_derecha {
	text-align: right;
	padding-bottom: 5%;
}
#titulo {
	font-size: 1.25em;
}
