.imgs_profesor_siac {
	-webkit-transition: all .8s ease-in-out;
	   -moz-transition: all .8s ease-in-out;
		-ms-transition: all .8s ease-in-out;
		 -o-transition: all .8s ease-in-out;
			transition: all .8s ease-in-out;
	padding: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.imgs_profesor_siac:hover {
	-webkit-transform: scale(0.9,0.9);
	   -moz-transform: scale(0.9,0.9);
		-ms-transform: scale(0.9,0.9);
		 -o-transform: scale(0.9,0.9);
			transform: scale(0.9,0.9);
	-webkit-transition: all .8s ease-in-out;
	   -moz-transition: all .8s ease-in-out;
		-ms-transition: all .8s ease-in-out;
		 -o-transition: all .8s ease-in-out;
			transition: all .8s ease-in-out;
	padding: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.body_btn_siac {
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: bottom;
	width: 100%;
	height: 100%;
}
/*menu de pequeños*/
#lista_btn_siac {
	list-style: none;
	display: inline;
}
.enlinea {
	display: inline-block;
	margin: 1.5% 0 0 1.5%;
}
.btn_small_siac {
	width: 106px;
	display: inline-block;
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		 -o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
}
.btn_small_siac:hover {
	-webkit-transform: scale(1.1,1.1);
	   -moz-transform: scale(1.1,1.1);
		-ms-transform: scale(1.1,1.1);
		 -o-transform: scale(1.1,1.1);
			transform: scale(1.1,1.1);
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		 -o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
}
.cabeza_btn {
	background-color: #4c4c4c;
	height: 15px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

div[class*= "cuerpo_btn_"] {
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: bottom;
	width: 106px;
	height: 53px;
}
.cuerpo_btn_registro {
	background-image: url("../images/m/registro_m.png");
}
.cuerpo_btn_procesos {
	background-image: url("../images/m/procesos_m.png");
}
.cuerpo_btn_reportes {
	background-image: url("../images/m/reportes_m.png");
}
.cuerpo_btn_horarios {
	background-image: url("../images/m/horarios_m.png");
}
.cuerpo_btn_boletines {
	background-image: url("../images/m/boletines_m.png");
}
.cuerpo_btn_documentos {
	background-image: url("../images/m/documentos_m.png");
}
.cuerpo_btn_configuracion {
	background-image: url("../images/m/configuracion_m.png");
}
div[class*= "pie_btn_"] {
	background-color: rgba(76,76,76,.48);
	height: 15px;
	color: white;
	text-align: center;
	font-family: 'Prosto One', cursive !important;
	font-size: 9px; 
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	line-height: 15px;
}
.pie_btn_registro.activo {
	background-color: #2e57a5;
}
.pie_btn_procesos.activo {
	background-color: #7fc31b;
}
.pie_btn_reportes.activo {
	background-color: #4ea0c9;
}
.pie_btn_horarios.activo {
	background-color: #349980;
}
.pie_btn_boletines.activo {
	background-color: #81017d;
}
.pie_btn_documentos.activo {
	background-color: #fea520;
}
.pie_btn_configuracion.activo {
	background-color: #beac83;
}


.siac_profesores_h2 {
	color: white;
	background-color: #4ba0c9;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	text-align: center;
	margin: 0;
	height: 50px;
	line-height: 51px;
}
div.recuadro_interno_siac>select {
	border-radius: 0;
	border-width: 1px;
}
div.recuadro_interno_siac>select:focus {
	outline: 0;
	box-shadow: 0 0 0 2px rgba(245, 153, 66, 0.3);
	border-color: #f59942;
}
.fondo_gris{
	border-radius: 10px;
	background-color: rgba(76,76,76,0.8);
	height: 40px;
	vertical-align: text-top;
}

@media screen and (max-width: 720px){
	.margen_inferior_body {
		margin-bottom: 10%;
	}
	/*SIAC MENU PRINCIPAL*/
	.boton_siac_grande {
		width: 88.35%;
	}
	.header_btn_siac {
		height: 20px;
		background-color: #4c4c4c;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	div[class*= "footer_btn_"]{
		font-family: 'Prosto One', cursive;
		font-size: 100%;
		text-align: center;
		line-height: 22px;
		color: white;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		height: 20px;
	}
	.footer_btn_registro {
		background-color: #2e57a5;
	}
	.footer_btn_procesos{
		background-color: #7fc31b;
	}
	.footer_btn_reportes {
		background-color: #4ea0c9;
	}
	.footer_btn_horarios {
		background-color: #349980;
	}
	.footer_btn_boletines{
		background-color: #81017d;
	}
	.footer_btn_documentos {
		background-color: #fea520;
	}
	.footer_btn_configuracion{
		background-color: #beac83;
	}
	.margin_arriba {
		margin: 5% 0 0 0;
	}
	/*FIN SIAC MENU PRINCIPAL*/


	.btn-iniciar-sesion {
	  line-height: 10px;
	  color: #FFF!important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
	  font-size: 12px;
	  background-image: none!important;
	  background-color: #4ba0c9!important;
	  border: 2px solid #4ba0c9;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	  height: 26px;
	}
	.btn-iniciar-sesion:hover {
	  border: 2px solid #3a8baa;
	  background-color: #3a8baa!important;
	}
	.modal-header .close {
		margin: 6px 6px 0 0;
	}
	.recuadro_interno_siac {
		margin: 1.5% 0 0 3%;
	}
	.modal.fade.in {
		top: 10%;
	}
	.titulo_cabezote {
		font-family: 'Prosto One', cursive;
		font-size: 52px;
		text-align: center;
		color: #4c4c4c;
		line-height: 80%;
		margin: 9% 0 0 0;
	}
	.logo {
		background-image: url('../images/logo_m.png');
		background-repeat: no-repeat;
		display: inline-block;
		vertical-align: bottom;
		width: 40px;
		height: 40px;
		margin: 0 0 0 -45px;
	}
	#user_info {
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: middle;
		line-height: 15px;
		position: relative;
		top: 1px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.navbar-inverse .nav>li>a {
		font-size: 10px;
		text-shadow: none;
	}
	img {
		width: auto\9;
		height: auto;
		max-width: 100%;
		vertical-align: middle;
		border: 0;
		-ms-interpolation-mode: bicubic;
	}
	body {
		font-family: 'Noto Sans', sans-serif;
		font-size: 10px;
		color: #393939;
	}
	.selector {
		border-radius: 15px;
		height: 20px;
		width: 100%;
		margin: 3px 0 0 0;
		font-size: 12px;
	}
	.texto_siac_centro {
		color: white;
		text-align: center;
		font-size: 10px;
	}
	.texto_siac_der {
		color: white;
		text-align: right;
		font-size: 10px;}
	#id_jornada {
		font-size: 8px;
	}
	.input_search_siac {
		background-color: #4ba0c9;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		margin: 0;
		height: 30px;
		width: 145%;
	}
	input[type="search"].busqueda_peticion {
		font-size: 10px;
		border-radius: 20px !important;
		border-width: 1px;
		color: #AAA;
		background-color: #FFF;
		border-color: #d5d5d5;
		box-shadow: none;
		-moz-transition-duration: .1s;
		-webkit-transition-duration: .1s;
		-o-transition-duration: .1s;
		-ms-transition-duration: .1s;
		transition-duration: .1s;
		height: 7px;
		margin: 9px 9% 8% 5.5%;
		width: 75%;
		line-height: 12px
	}

	/*submenu*/
	.btn-iniciar-submenu {
	  color: rgba(76,76,76,.8)!important;
	  font-size: 8.5px;
	  background-image: none!important;
	  background-color: #e6e6e6!important;
	  border: 2px solid #e6e6e6;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	  width: 100%;
	  height: 25px;
	  padding: 0;
	}
	.btn-iniciar-submenu:hover {
	  border: 2px solid #4ba0c9;
	  background-color: #4ba0c9!important;
	  color: white !important;
	}
	#submenu {
		margin: 2% 0 0 0;
	}
	button, input, select, textarea {
	margin: 0px;
	font-size: 100%;
	vertical-align: middle;
	}

	/*pidepagina*/
	.piedepagina{
		font-family: 'Noto Sans', sans-serif !important;
		background-color: #4c4c4c; 
		color: white;
		margin-top: 7%;
		position: absolute;
		bottom: 0;
	}

	/*navbar*/ 
	.aula_virtual>li {
		line-height: 45px;
		background-color: #0071bc;
		border-left: 1px solid #DDD;
		border-right: 1px solid #DDD;
		padding: 0px;
		position: relative;
	}

	/*tabla*/

	#tabla {
		margin: 2% 0 0 0;
	}
	#botones_siac {
		margin: 2% 0 0 0;
	}
	.tabla_siac {
		height:170px;
		overflow-y:scroll;
		margin:0px;
		padding:0px;
		width:100%;
		border:1px solid rgba(76,76,76,0.8);
		
		-moz-border-radius-bottomleft:10px;
		-webkit-border-bottom-left-radius:10px;
		border-bottom-left-radius:10px;
		
		-moz-border-radius-bottomright:10px;
		-webkit-border-bottom-right-radius:10px;
		border-bottom-right-radius:10px;
		
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
		
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
	}

	.tabla_siac table {
		width:100%;
		height:100%;
		margin: 0;
		padding:0px;
	}
	.tabla_siac tr:last-child td:last-child {
		-moz-border-radius-bottomright:10px;
		-webkit-border-bottom-right-radius:10px;
		border-bottom-right-radius:10px;
	}
	.tabla_siac table tr:first-child td:first-child {
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
	}
	.tabla_siac table tr:first-child td:last-child {
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
	}
	.tabla_siac tr:last-child td:first-child{
		-moz-border-radius-bottomleft:10px;
		-webkit-border-bottom-left-radius:10px;
		border-bottom-left-radius:10px;
	}
	.tabla_siac tr:hover td{
		
	}
	.tabla_siac tr:nth-child(odd){ background-color:#e5e5e5; }
	.tabla_siac tr:nth-child(even)    { background-color:#ffffff; }.tabla_siac td{
		vertical-align:middle;
		
		
		border:1px solid rgba(76,76,76,0.8);
		border-width:0px 1px 1px 0px;
		text-align:left;
		padding:7px;
		/*font-size:10px;*/
		font-weight:normal;
		color: rgba(76,76,76,0.8);
	}
	.tabla_siac tr:last-child td{
		border-width:0px 1px 0px 0px;
	}
	.tabla_siac tr td:last-child{
		border-width:0px 0px 1px 0px;
	}
	.tabla_siac tr:last-child td:last-child{
		border-width:0px 0px 0px 0px;
	}
	.tabla_siac tr:first-child td{
		background-color:rgba(76,76,76,0.8);
		border:0px solid rgba(76,76,76,0.8);
		text-align: left;
		border-width: 0px 0px 1px 1px;
		font-size: 10px;
		font-weight: bold;
		color: white;
	}
	.tabla_siac tr:first-child:hover td{
		background-color:rgba(76,76,76,0.7);
	}
	.tabla_siac tr:first-child td:first-child{
		border-width:0px 0px 1px 0px;
	}
	.tabla_siac tr:first-child td:last-child{
		border-width:0px 0px 1px 1px;
	}
	td>a {
		color: #4ba0c9;
	}
	tr>.icono_siac {
		text-align: center;
	}

	::-webkit-scrollbar {
		width: 12px;
	}
	 
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		border-radius: 10px;
	}
	 
	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(76,76,76,0.5); 
	}

	.btn-iniciar-sesion-gris {
	  color: #FFF!important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
	  font-size: 10px;
	  background-image: none!important;
	  background-color: #7C7C7C!important;
	  border: 2px solid #7C7C7C;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	}
	.btn-iniciar-sesion-gris:hover {
	  border: 2px solid #6D6D6D;
	  background-color: #6D6D6D!important;
	}
	#copiar_btn {
		margin-left: 10px;
		line-height: 10px;
	}
	.enlinea {
		display: inline-block;
		margin: 1.5% 0 0 0.5%;
	}

	/*modal*/
	body .modal-body {
		width: 825px;
		max-height: 495px;
	}
	.modal {
		position: fixed;
		top: 10%;
		left: 50%;
		z-index: 1050;
		width: 700px;
		margin-left: -350px;
		background-color: #ffffff;
		border: 1px solid #999;
		border: 1px solid rgba(0, 0, 0, 0.3);
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		outline: none;
		-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
		background-clip: padding-box;
	}
	.input_modal {
		width: 60%;
	}
	.input_modal_fecha {
		width: 80%;
	}
	.input_modal_fecha_left {
		width: 60%;
	}
	.input_modal_select {
		width: 70%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 0px;
	}
	.input_modal_select_right {
		width: 90%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 0px;
	}
	.texto_derecha_modal {
		text-align: right;
		padding: 0;
	}

	input[type="text"], input[type="datetime"], 
	input[type="datetime-local"], input[type="date"], 
	input[type="month"], input[type="time"], 
	input[type="week"], input[type="number"], 
	input[type="email"], input[type="url"], 
	input[type="search"], input[type="tel"], 
	input[type="color"], .uneditable-input {
		display: inline-block;
		height: 10px;
		padding: 4px 6px;
		margin-bottom: 10px;
		font-size: 10px;
		line-height: 15px;
		color: #555;
		vertical-align: middle;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	select {
		display: inline-block;
		height: 21px;
		padding: 2px 6px;
		margin-bottom: 10px;
		font-size: 10px;
		line-height: 20px;
		color: #555;
		vertical-align: middle;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.fondo_gris_modal {
		border-radius: 20px;
		background-color: rgba(76,76,76,0.8);
		height: 22px;
		width: 450px;
		vertical-align: middle;
		color: white;
		padding: 3px;
	}
	.modal-body.ancho {
		width: 98%;
	}
	.modal-footer {
		padding: 14px 15px 15px;
		margin-bottom: 0;
		text-align: right;
		background-color: #f5f5f5;
		border-top: 1px solid #ddd;
		-webkit-border-radius: 0 0 6px 6px;
		-moz-border-radius: 0 0 6px 6px;
		border-radius: 0 0 6px 6px;
		-webkit-box-shadow: inset 0 1px 0 #fff;
		-moz-box-shadow: inset 0 1px 0 #fff;
		box-shadow: inset 0 1px 0 #fff;
		text-align: center;
	}
	div.modal-footer>button {
		margin: 0;
	}
}

@media screen and (min-width: 721px) and (max-width: 900px) {
	.btn-iniciar-sesion-gris.btn-small-inicio-sesion.btn-primary-inicio-sesion {
		padding-left: 10%;
	}
	#btn_agregar {
		font-size: 90%;
	}
	.margen_inferior_body {
		margin-bottom: 10%;
	}
	/*SIAC MENU PRINCIPAL*/
	.boton_siac_grande {
		width: 88.35%;
	}
	.header_btn_siac {
		height: 22px;
		background-color: #4c4c4c;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	div[class*= "footer_btn_"]{
		font-family: 'Prosto One', cursive;
		font-size: 100%;
		text-align: center;
		line-height: 24px;
		color: white;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		height: 22px;
	}
	.footer_btn_registro {
		background-color: #2e57a5;
	}
	.footer_btn_procesos{
		background-color: #7fc31b;
	}
	.footer_btn_reportes {
		background-color: #4ea0c9;
	}
	.footer_btn_horarios {
		background-color: #349980;
	}
	.footer_btn_boletines{
		background-color: #81017d;
	}
	.footer_btn_documentos {
		background-color: #fea520;
	}
	.footer_btn_configuracion{
		background-color: #beac83;
	}
	.margin_arriba {
		margin: 5% 0 0 0;
	}
	/*FIN SIAC MENU PRINCIPAL*/

	.btn-iniciar-sesion {
	  line-height: 10px;
	  color: #FFF!important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
	  font-size: 12px;
	  background-image: none!important;
	  background-color: #4ba0c9!important;
	  border: 2px solid #4ba0c9;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	  height: 26px;
	}
	.btn-iniciar-sesion:hover {
	  border: 2px solid #3a8baa;
	  background-color: #3a8baa!important;
	}
	.modal-header .close {
		margin: 6px 6px 0 0;
	}
	.recuadro_interno_siac {
		margin: 1.3% 0 0 0;
	}
	.modal.fade.in {
		top: 10%;
	}
	.titulo_cabezote {
		font-family: 'Prosto One', cursive;
		font-size: 52px;
		text-align: center;
		color: #4c4c4c;
		line-height: 80%;
		margin: 2% 0 0 0;
	}
	.logo {
		background-image: url('../images/logo_m.png');
		background-repeat: no-repeat;
		display: inline-block;
		vertical-align: bottom;
		width: 40px;
		height: 40px;
		margin: 0 0 0 45px;
	}
	#user_info {
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: middle;
		line-height: 15px;
		position: relative;
		top: 1px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.navbar-inverse .nav>li>a {
		font-size: 10px;
		text-shadow: none;
	}
	img {
		width: auto\9;
		height: auto;
		max-width: 100%;
		vertical-align: middle;
		border: 0;
		-ms-interpolation-mode: bicubic;
	}
	body {
		font-family: 'Noto Sans', sans-serif;
		font-size: 12px;
		color: #393939;
	}
	.selector {
		border-radius: 15px;
		height: 20px;
		width: 100%;
		margin: 3px 0 0 0;
		font-size: 12px;
	}
	.texto_siac_centro {
		color: white;
		text-align: center;
		font-size: 12px;
	}
	.texto_siac_der {
		color: white;
		text-align: right;
		vertical-align: center;
		font-size: 12px;
	}
	.input_search_siac {
		background-color: #4ba0c9;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		margin: 0;
		height: 30px;
		width: 145%;
	}
	input[type="search"].busqueda_peticion {
		font-size: 10px;
		border-radius: 20px !important;
		border-width: 1px;
		color: #AAA;
		background-color: #FFF;
		border-color: #d5d5d5;
		box-shadow: none;
		-moz-transition-duration: .1s;
		-webkit-transition-duration: .1s;
		-o-transition-duration: .1s;
		-ms-transition-duration: .1s;
		transition-duration: .1s;
		height: 7px;
		margin: 9px 9% 8% 8.5%;
		width: 75%;
		line-height: 12px
	}

	/*submenu*/
	.btn-iniciar-submenu {
	  color: rgba(76,76,76,.8)!important;
	  font-size: 12px;
	  background-image: none!important;
	  background-color: #e6e6e6!important;
	  border: 2px solid #e6e6e6;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	  width: 100%;
	  height: 25px;
	}
	.btn-iniciar-submenu:hover {
	  border: 2px solid #4ba0c9;
	  background-color: #4ba0c9!important;
	  color: white !important;
	}
	#submenu {
		margin: 2% 0 0 0;
	}
	button, input, select, textarea {
	margin: 0px;
	font-size: 100%;
	vertical-align: middle;
	}

	/*pidepagina*/
	.piedepagina{
		font-family: 'Noto Sans', sans-serif !important;
		background-color: #4c4c4c; 
		color: white;
		margin-top: 7%;
		position: absolute;
		bottom: 0;
	}

	/*navbar*/ 
	.aula_virtual>li {
		line-height: 45px;
		background-color: #0071bc;
		border-left: 1px solid #DDD;
		border-right: 1px solid #DDD;
		padding: 0px;
		position: relative;
	}

	/*tabla*/

	#tabla {
		margin: 2% 0 0 0;
	}
	#botones_siac {
		margin: 2% 0 0 0;
	}
	.tabla_siac {
		height:170px;
		overflow-y:scroll;
		margin:0px;
		padding:0px;
		width:100%;
		border:1px solid rgba(76,76,76,0.8);
		
		-moz-border-radius-bottomleft:10px;
		-webkit-border-bottom-left-radius:10px;
		border-bottom-left-radius:10px;
		
		-moz-border-radius-bottomright:10px;
		-webkit-border-bottom-right-radius:10px;
		border-bottom-right-radius:10px;
		
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
		
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
	}

	.tabla_siac table {
		width:100%;
		height:100%;
		margin: 0;
		padding:0px;
	}
	.tabla_siac tr:last-child td:last-child {
		-moz-border-radius-bottomright:10px;
		-webkit-border-bottom-right-radius:10px;
		border-bottom-right-radius:10px;
	}
	.tabla_siac table tr:first-child td:first-child {
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
	}
	.tabla_siac table tr:first-child td:last-child {
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
	}
	.tabla_siac tr:last-child td:first-child{
		-moz-border-radius-bottomleft:10px;
		-webkit-border-bottom-left-radius:10px;
		border-bottom-left-radius:10px;
	}
	.tabla_siac tr:hover td{
		
	}
	.tabla_siac tr:nth-child(odd){ background-color:#e5e5e5; }
	.tabla_siac tr:nth-child(even)    { background-color:#ffffff; }.tabla_siac td{
		vertical-align:middle;
		
		
		border:1px solid rgba(76,76,76,0.8);
		border-width:0px 1px 1px 0px;
		text-align:left;
		padding:7px;
		/*font-size:10px;*/
		font-weight:normal;
		color: rgba(76,76,76,0.8);
	}
	.tabla_siac tr:last-child td{
		border-width:0px 1px 0px 0px;
	}
	.tabla_siac tr td:last-child{
		border-width:0px 0px 1px 0px;
	}
	.tabla_siac tr:last-child td:last-child{
		border-width:0px 0px 0px 0px;
	}
	.tabla_siac tr:first-child td{
		background-color:rgba(76,76,76,0.8);
		border:0px solid rgba(76,76,76,0.8);
		text-align: left;
		border-width: 0px 0px 1px 1px;
		font-size: 14px;
		font-weight: bold;
		color: white;
	}
	.tabla_siac tr:first-child:hover td{
		background-color:rgba(76,76,76,0.7);
	}
	.tabla_siac tr:first-child td:first-child{
		border-width:0px 0px 1px 0px;
	}
	.tabla_siac tr:first-child td:last-child{
		border-width:0px 0px 1px 1px;
	}
	td>a {
		color: #4ba0c9;
	}
	tr>.icono_siac {
		text-align: center;
	}

	::-webkit-scrollbar {
		width: 12px;
	}
	 
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		border-radius: 10px;
	}
	 
	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(76,76,76,0.5); 
	}

	.btn-iniciar-sesion-gris {
	  color: #FFF!important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
	  font-size: 10px;
	  background-image: none!important;
	  background-color: #7C7C7C!important;
	  border: 2px solid #7C7C7C;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	  width: 100%;
	}
	.btn-iniciar-sesion-gris:hover {
	  border: 2px solid #6D6D6D;
	  background-color: #6D6D6D!important;
	}


	/*modal*/
	body .modal-body {
		width: 825px;
		max-height: 495px;
	}
	.modal {
		position: fixed;
		top: 10%;
		left: 50%;
		z-index: 1050;
		width: 835px;
		margin-left: -418px;
		background-color: #ffffff;
		border: 1px solid #999;
		border: 1px solid rgba(0, 0, 0, 0.3);
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		outline: none;
		-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
		background-clip: padding-box;
	}
	.input_modal {
		width: 100%;
	}
	.input_modal_fecha {
		width: 80%;
	}
	.input_modal_fecha_left {
		width: 100%;
	}
	.input_modal_select {
		width: 110%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 0px;
	}
	.input_modal_select_right {
		width: 90%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 0px;
	}
	.texto_derecha_modal {
		text-align: right;
		padding: 12px 0 0 0;
	}

	input[type="text"], input[type="datetime"], 
	input[type="datetime-local"], input[type="date"], 
	input[type="month"], input[type="time"], 
	input[type="week"], input[type="number"], 
	input[type="email"], input[type="url"], 
	input[type="search"], input[type="tel"], 
	input[type="color"], .uneditable-input {
		display: inline-block;
		height: 17px;
		padding: 4px 6px;
		margin-bottom: 10px;
		font-size: 15px;
		line-height: 20px;
		color: #555;
		vertical-align: middle;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	select {
		display: inline-block;
		height: 27px;
		padding: 4px 6px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 20px;
		color: #555;
		vertical-align: middle;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.fondo_gris_modal {
		border-radius: 20px;
		background-color: rgba(76,76,76,0.8);
		height: 22px;
		width: 700px;
		vertical-align: middle;
		color: white;
		padding: 3px;
	}
	.modal-footer {
		padding: 14px 15px 15px;
		margin-bottom: 0;
		text-align: right;
		background-color: #f5f5f5;
		border-top: 1px solid #ddd;
		-webkit-border-radius: 0 0 6px 6px;
		-moz-border-radius: 0 0 6px 6px;
		border-radius: 0 0 6px 6px;
		-webkit-box-shadow: inset 0 1px 0 #fff;
		-moz-box-shadow: inset 0 1px 0 #fff;
		box-shadow: inset 0 1px 0 #fff;
		text-align: center;
	}
	div.modal-footer>button {
		margin: 0;
	}
}

@media screen and (min-width: 901px) and (max-width: 1249px){
	#copiar_btn {
		font-size: 100%;
		width: 100%;
		margin-left: 17%;
		margin-right: -17%;
	}
	.margen_inferior_body {
		margin-bottom: 10%;
	}
	body {
		font-family: 'Noto Sans', sans-serif;
		font-size: 13px;
		color: #393939;
	}
	.btn-iniciar-sesion {
	  line-height: 10px;
	  color: #FFF!important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
	  font-size: 14px;
	  background-image: none!important;
	  background-color: #4ba0c9!important;
	  border: 2px solid #4ba0c9;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	  height: 26px;
	}
	.btn-iniciar-sesion:hover {
	  border: 2px solid #3a8baa;
	  background-color: #3a8baa!important;
	}
	/*SIAC MENU PRINCIPAL*/
	.boton_siac_grande {
		width: 88.35%;
	}
	.header_btn_siac {
		height: 27px;
		background-color: #4c4c4c;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	div[class*= "footer_btn_"]{
		font-family: 'Prosto One', cursive;
		font-size: 125%;
		text-align: center;
		line-height: 25px;
		color: white;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		height: 27px;
	}
	.footer_btn_registro {
		background-color: #2e57a5;
	}
	.footer_btn_procesos{
		background-color: #7fc31b;
	}
	.footer_btn_reportes {
		background-color: #4ea0c9;
	}
	.footer_btn_horarios {
		background-color: #349980;
	}
	.footer_btn_boletines{
		background-color: #81017d;
	}
	.footer_btn_documentos {
		background-color: #fea520;
	}
	.footer_btn_configuracion{
		background-color: #beac83;
	}
	.margin_arriba {
		margin: 5% 0 0 0;
	}
	/*FIN SIAC MENU PRINCIPAL*/
	.modal-header .close {
		margin: 6px 10px 0 0;
	}
	.recuadro_interno_siac {
		margin: 0.7% 0 0 0;
	}
	.titulo_cabezote {
		font-family: 'Prosto One', cursive;
		font-size: 6em;
		text-align: center;
		color: #4c4c4c;
		line-height: 80%;
		margin-top: 8%
	}
	.logo {
		background-image: url('../images/logo_m_t.png');
		background-repeat: no-repeat;
		display: inline-block;
		vertical-align: bottom;
		width: 125px;
		height: 40px;
	}
	.selector {
		border-radius: 15px;
		height: 20px;
		width: 100%;
		margin: 3px 0 0 0;
	}
	.texto_siac_centro {
		color: white;
		text-align: center;
	}
	.texto_siac_der {
		color: white;
		text-align: right;
		vertical-align: center;
	}
	.input_search_siac {
		background-color: #4ba0c9;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		margin: 0;
		height: 50px;
	}
	input[type="search"].busqueda_peticion {
		border-radius: 20px !important;
		border-width: 1px;
		color: #AAA;
		background-color: #FFF;
		border-color: #d5d5d5;
		box-shadow: none;
		-moz-transition-duration: .1s;
		-webkit-transition-duration: .1s;
		-o-transition-duration: .1s;
		-ms-transition-duration: .1s;
		transition-duration: .1s;
		width: 122px;
		height: 15px;
		margin: 8%;
		width: 75%;
	}

	/*submenu*/
	.btn-iniciar-submenu {
	  display: inline-block;
	  padding: 0 12px 1px;
	  line-height: 8px;
	  color: rgba(76,76,76,.8)!important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
	  font-size: 1.2em;
	  background-image: none!important;
	  background-color: #e6e6e6!important;
	  border: 5px solid #e6e6e6;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	  width: 100%;
	  height: 35px;
	}
	.btn-iniciar-submenu:hover {
	  border: 5px solid #4ba0c9;
	  background-color: #4ba0c9!important;
	  color: white !important;
	}
	#submenu {
		margin: 2% 0 0 0;
	}

	/*pidepagina*/
	.piedepagina{
		font-family: 'Noto Sans', sans-serif !important;
		background-color: #4c4c4c; 
		color: white;
		margin-top: 7%;
		position: absolute;
		bottom: 0;
	}

	/*navbar*/ 
	.aula_virtual>li {
		line-height: 45px;
		background-color: #0071bc;
		border-left: 1px solid #DDD;
		border-right: 1px solid #DDD;
		padding: 20;
		position: relative;
	}

	/*tabla*/

	#tabla {
		margin: 2% 0 0 0;
	}
	#botones_siac {
		margin: 2% 0 0 0;
	}
	.tabla_siac {
		height:170px;
		overflow-y:scroll;
		margin:0px;
		padding:0px;
		width:100%;
		border:1px solid rgba(76,76,76,0.8);
		
		-moz-border-radius-bottomleft:10px;
		-webkit-border-bottom-left-radius:10px;
		border-bottom-left-radius:10px;
		
		-moz-border-radius-bottomright:10px;
		-webkit-border-bottom-right-radius:10px;
		border-bottom-right-radius:10px;
		
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
		
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
	}

	.tabla_siac table {
		width:100%;
		height:100%;
		margin: 0;
		padding:0px;
	}
	.tabla_siac tr:last-child td:last-child {
		-moz-border-radius-bottomright:10px;
		-webkit-border-bottom-right-radius:10px;
		border-bottom-right-radius:10px;
	}
	.tabla_siac table tr:first-child td:first-child {
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
	}
	.tabla_siac table tr:first-child td:last-child {
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
	}
	.tabla_siac tr:last-child td:first-child{
		-moz-border-radius-bottomleft:10px;
		-webkit-border-bottom-left-radius:10px;
		border-bottom-left-radius:10px;
	}
	.tabla_siac tr:hover td{
		
	}
	.tabla_siac tr:nth-child(odd){ background-color:#e5e5e5; }
	.tabla_siac tr:nth-child(even)    { background-color:#ffffff; }.tabla_siac td{
		vertical-align:middle;
		
		
		border:1px solid rgba(76,76,76,0.8);
		border-width:0px 1px 1px 0px;
		text-align:left;
		padding:7px;
		/*font-size:10px;*/
		font-weight:normal;
		color: rgba(76,76,76,0.8);
	}
	.tabla_siac tr:last-child td{
		border-width:0px 1px 0px 0px;
	}
	.tabla_siac tr td:last-child{
		border-width:0px 0px 1px 0px;
	}
	.tabla_siac tr:last-child td:last-child{
		border-width:0px 0px 0px 0px;
	}
	.tabla_siac tr:first-child td{
		background-color:rgba(76,76,76,0.8);
		border:0px solid rgba(76,76,76,0.8);
		text-align: left;
		border-width: 0px 0px 1px 1px;
		font-size: 14px;
		font-weight: bold;
		color: white;
	}
	.tabla_siac tr:first-child:hover td{
		background-color:rgba(76,76,76,0.7);
	}
	.tabla_siac tr:first-child td:first-child{
		border-width:0px 0px 1px 0px;
	}
	.tabla_siac tr:first-child td:last-child{
		border-width:0px 0px 1px 1px;
	}
	td>a {
		color: #4ba0c9;
	}
	tr>.icono_siac {
		text-align: center;
	}

	::-webkit-scrollbar {
		width: 12px;
	}
	 
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		border-radius: 10px;
	}
	 
	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(76,76,76,0.5); 
	}

	.btn-iniciar-sesion-gris {
	  display: inline-block;
	  padding: 0 12px 1px;
	  line-height: 8px;
	  color: #FFF!important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
	  font-size: 1.2em;
	  background-image: none!important;
	  background-color: #7C7C7C!important;
	  border: 5px solid #7C7C7C;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	  height: 26px;
	}
	.btn-iniciar-sesion-gris:hover {
	  border: 5px solid #6D6D6D;
	  background-color: #6D6D6D!important;
	}


	/*modal*/
	body .modal-body {
		width: 940px;
		max-height: 495px;
	}
	.modal {
		position: fixed;
		top: 10%;
		left: 50%;
		z-index: 1050;
		width: 1000px;
		margin-left: -500px;
		background-color: #ffffff;
		border: 1px solid #999;
		border: 1px solid rgba(0, 0, 0, 0.3);
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		outline: none;
		-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
		background-clip: padding-box;
	}
	.input_modal {
		width: 100%;
	}
	.input_modal_fecha {
		width: 80%;
	}
	.input_modal_fecha_left {
		width: 100%;
	}
	.input_modal_select {
		width: 110%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 0px;
	}
	.input_modal_select_right {
		width: 90%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 0px;
	}
	.texto_derecha_modal {
		text-align: right;
		padding: 12px 0 0 0;
	}

	input[type="text"], input[type="datetime"], 
	input[type="datetime-local"], input[type="date"], 
	input[type="month"], input[type="time"], 
	input[type="week"], input[type="number"], 
	input[type="email"], input[type="url"], 
	input[type="search"], input[type="tel"], 
	input[type="color"], .uneditable-input {
		display: inline-block;
		height: 17px;
		padding: 4px 6px;
		margin-bottom: 10px;
		font-size: 15px;
		line-height: 20px;
		color: #555;
		vertical-align: middle;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	select {
		display: inline-block;
		height: 27px;
		padding: 4px 6px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 20px;
		color: #555;
		vertical-align: middle;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.fondo_gris_modal {
		border-radius: 20px;
		background-color: rgba(76,76,76,0.8);
		height: 22px;
		width: 700px;
		vertical-align: middle;
		color: white;
		padding: 3px;
	}
	.modal-footer {
		padding: 14px 15px 15px;
		margin-bottom: 0;
		text-align: right;
		background-color: #f5f5f5;
		border-top: 1px solid #ddd;
		-webkit-border-radius: 0 0 6px 6px;
		-moz-border-radius: 0 0 6px 6px;
		border-radius: 0 0 6px 6px;
		-webkit-box-shadow: inset 0 1px 0 #fff;
		-moz-box-shadow: inset 0 1px 0 #fff;
		box-shadow: inset 0 1px 0 #fff;
		text-align: center;
	}
	div.modal-footer>button {
		margin: 0;
	}
}

@media screen and (min-width: 1250px) and (max-width: 1600px){
	.margen_inferior_body {
		margin-bottom: 10%;
	}
	body {
		font-family: 'Noto Sans', sans-serif;
		font-size: 14px;
		color: #393939;
	}
	/* SIAC MENU PRINCIPAL*/
	.boton_siac_grande {
		width: 88.35%;
	}
	.header_btn_siac {
		height: 30px;
		background-color: #4c4c4c;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	div[class*= "footer_btn_"]{
		font-family: 'Prosto One', cursive;
		font-size: 150%;
		text-align: center;
		line-height: 28px;
		color: white;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		height: 30px;
	}
	.footer_btn_registro {
		background-color: #2e57a5;
	}
	.footer_btn_procesos{
		background-color: #7fc31b;
	}
	.footer_btn_reportes {
		background-color: #4ea0c9;
	}
	.footer_btn_horarios {
		background-color: #349980;
	}
	.footer_btn_boletines{
		background-color: #81017d;
	}
	.footer_btn_documentos {
		background-color: #fea520;
	}
	.footer_btn_configuracion{
		background-color: #beac83;
	}
	.margin_arriba {
		margin: 5% 0 0 0;
	}
	/*FIN SIAC MENU PRINCIPAL*/
	.btn-iniciar-sesion {
	  line-height: 10px;
	  height: 26px;
	  color: #FFF!important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
	  font-size: 14px;
	  background-image: none!important;
	  background-color: #4ba0c9!important;
	  border: 2px solid #4ba0c9;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	}
	.btn-iniciar-sesion:hover {
	  border: 2px solid #3a8baa;
	  background-color: #3a8baa!important;
	}
	.modal-header .close {
		margin: 6px 10px 0 0;
	}
	.recuadro_interno_siac {
		margin: 0.7% 0 0 0;
	}
	.titulo_cabezote {
		font-family: 'Prosto One', cursive;
		font-size: 6em;
		text-align: center;
		color: #4c4c4c;
		line-height: 80%;
		margin-top: 8%
	}
	.logo {
		background-image: url('../images/logo.png');
		background-repeat: no-repeat;
		display: inline-block;
		vertical-align: bottom;
		width: 270px;
		height: 37px;
	}
	.selector {
		border-radius: 15px;
		height: 20px;
		width: 100%;
		margin: 3px 0 0 0;
	}
	.texto_siac_centro {
		color: white;
		text-align: center;
	}
	.texto_siac_der {
		color: white;
		text-align: right;
		vertical-align: center;
	}
	.input_search_siac {
		background-color: #4ba0c9;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		margin: 0;
		height: 50px;
	}
	input[type="search"].busqueda_peticion {
		border-radius: 20px !important;
		border-width: 1px;
		color: #AAA;
		background-color: #FFF;
		border-color: #d5d5d5;
		box-shadow: none;
		-moz-transition-duration: .1s;
		-webkit-transition-duration: .1s;
		-o-transition-duration: .1s;
		-ms-transition-duration: .1s;
		transition-duration: .1s;
		width: 122px;
		height: 15px;
		margin: 8%;
		width: 75%;
	}

	/*submenu*/
	#btn_agregar {
		font-size: 100%;
	}
	.btn-iniciar-submenu {
	  display: inline-block;
	  padding: 0 12px 1px;
	  line-height: 8px;
	  color: rgba(76,76,76,.8)!important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
	  font-size: 1.2em;
	  background-image: none!important;
	  background-color: #e6e6e6!important;
	  border: 5px solid #e6e6e6;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	  width: 100%;
	  height: 35px;
	}
	.btn-iniciar-submenu:hover {
	  border: 5px solid #4ba0c9;
	  background-color: #4ba0c9!important;
	  color: white !important;
	}
	#submenu {
		margin: 2% 0 0 0;
	}

	/*pidepagina*/
	.piedepagina{
		font-family: 'Noto Sans', sans-serif !important;
		background-color: #4c4c4c; 
		color: white;
		margin-top: 7%;
		position: absolute;
		bottom: 0;
	}

	/*navbar*/ 
	.aula_virtual>li {
		line-height: 45px;
		background-color: #0071bc;
		border-left: 1px solid #DDD;
		border-right: 1px solid #DDD;
		padding: 20;
		position: relative;
	}

	/*tabla*/

	#tabla {
		margin: 2% 0 0 0;
	}
	#botones_siac {
		margin: 2% 0 0 0;
	}
	.tabla_siac {
		height:170px;
		overflow-y:scroll;
		margin:0px;
		padding:0px;
		width:100%;
		border:1px solid rgba(76,76,76,0.8);
		
		-moz-border-radius-bottomleft:10px;
		-webkit-border-bottom-left-radius:10px;
		border-bottom-left-radius:10px;
		
		-moz-border-radius-bottomright:10px;
		-webkit-border-bottom-right-radius:10px;
		border-bottom-right-radius:10px;
		
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
		
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
	}

	.tabla_siac table {
		width:100%;
		height:100%;
		margin: 0;
		padding:0px;
	}
	.tabla_siac tr:last-child td:last-child {
		-moz-border-radius-bottomright:10px;
		-webkit-border-bottom-right-radius:10px;
		border-bottom-right-radius:10px;
	}
	.tabla_siac table tr:first-child td:first-child {
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
	}
	.tabla_siac table tr:first-child td:last-child {
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
	}
	.tabla_siac tr:last-child td:first-child{
		-moz-border-radius-bottomleft:10px;
		-webkit-border-bottom-left-radius:10px;
		border-bottom-left-radius:10px;
	}
	.tabla_siac tr:hover td{
		
	}
	.tabla_siac tr:nth-child(odd){ background-color:#e5e5e5; }
	.tabla_siac tr:nth-child(even)    { background-color:#ffffff; }.tabla_siac td{
		vertical-align:middle;
		border:1px solid rgba(76,76,76,0.8);
		border-width:0px 1px 1px 0px;
		text-align:left;
		padding:7px;
		font-weight:normal;
		color: rgba(76,76,76,0.8);
	}
	.tabla_siac tr:last-child td{
		border-width:0px 1px 0px 0px;
	}
	.tabla_siac tr td:last-child{
		border-width:0px 0px 1px 0px;
	}
	.tabla_siac tr:last-child td:last-child{
		border-width:0px 0px 0px 0px;
	}
	.tabla_siac tr:first-child td{
		background-color:rgba(76,76,76,0.8);
		border:0px solid rgba(76,76,76,0.8);
		text-align: left;
		border-width: 0px 0px 1px 1px;
		font-size: 14px;
		font-weight: bold;
		color: white;
	}
	.tabla_siac tr:first-child:hover td{
		background-color:rgba(76,76,76,0.7);
	}
	.tabla_siac tr:first-child td:first-child{
		border-width:0px 0px 1px 0px;
	}
	.tabla_siac tr:first-child td:last-child{
		border-width:0px 0px 1px 1px;
	}
	td>a {
		color: #4ba0c9;
	}
	tr>.icono_siac {
		text-align: center;
	}

	::-webkit-scrollbar {
		width: 12px;
	}
	 
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		border-radius: 10px;
	}
	 
	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(76,76,76,0.5); 
	}

	#copiar_btn {
		font-size: 100%;
		margin: 8% -15% 0 20%;
	}

	.btn-iniciar-sesion-gris {
	  display: inline-block;
	  padding: 0 12px 1px;
	  line-height: 8px;
	  color: #FFF!important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
	  font-size: 1.2em;
	  background-image: none!important;
	  background-color: #7C7C7C!important;
	  border: 5px solid #7C7C7C;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	  height: 26px;
	}
	.btn-iniciar-sesion-gris:hover {
	  border: 5px solid #6D6D6D;
	  background-color: #6D6D6D!important;
	}


	/*modal*/
	body .modal-body {
		width: 940px;
		max-height: 495px;
	}
	.modal {
		position: fixed;
		top: 10%;
		left: 50%;
		z-index: 1050;
		width: 1000px;
		margin-left: -500px;
		background-color: #ffffff;
		border: 1px solid #999;
		border: 1px solid rgba(0, 0, 0, 0.3);
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		outline: none;
		-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
		background-clip: padding-box;
	}
	.input_modal {
		width: 100%;
	}
	.input_modal_fecha {
		width: 80%;
	}
	.input_modal_fecha_left {
		width: 100%;
	}
	.input_modal_select {
		width: 110%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 0px;
	}
	.input_modal_select_right {
		width: 90%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 0px;
	}
	.texto_derecha_modal {
		text-align: right;
		padding: 12px 0 0 0;
	}

	input[type="text"], input[type="datetime"], 
	input[type="datetime-local"], input[type="date"], 
	input[type="month"], input[type="time"], 
	input[type="week"], input[type="number"], 
	input[type="email"], input[type="url"], 
	input[type="search"], input[type="tel"], 
	input[type="color"], .uneditable-input {
		display: inline-block;
		height: 17px;
		padding: 4px 6px;
		margin-bottom: 10px;
		font-size: 15px;
		line-height: 20px;
		color: #555;
		vertical-align: middle;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	select {
		display: inline-block;
		height: 27px;
		padding: 4px 6px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 20px;
		color: #555;
		vertical-align: middle;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.fondo_gris_modal {
		border-radius: 20px;
		background-color: rgba(76,76,76,0.8);
		height: 22px;
		width: 700px;
		vertical-align: middle;
		color: white;
		padding: 3px;
	}
	.modal-footer {
		padding: 14px 15px 15px;
		margin-bottom: 0;
		text-align: right;
		background-color: #f5f5f5;
		border-top: 1px solid #ddd;
		-webkit-border-radius: 0 0 6px 6px;
		-moz-border-radius: 0 0 6px 6px;
		border-radius: 0 0 6px 6px;
		-webkit-box-shadow: inset 0 1px 0 #fff;
		-moz-box-shadow: inset 0 1px 0 #fff;
		box-shadow: inset 0 1px 0 #fff;
		text-align: center;
	}
	div.modal-footer>button {
		margin: 0;
	}
}

@media screen and (min-width: 1601px) {

	.margen_inferior_body {
		margin-bottom: 10%;
	}
	.responsive_grande_img_siac {
		width: 100%;
	}
	body {
		font-family: 'Noto Sans', sans-serif;
		font-size: 16px;
		color: #393939;
	}
	/* SIAC MENU PRINCIPAL*/
	.boton_siac_grande {
		width: 88.35%;
	}
	.header_btn_siac {
		height: 30px;
		background-color: #4c4c4c;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	div[class*= "footer_btn_"]{
		font-family: 'Prosto One', cursive;
		font-size: 190%;
		text-align: center;
		line-height: 28px;
		color: white;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		height: 30px;
	}
	.footer_btn_registro {
		background-color: #2e57a5;
	}
	.footer_btn_procesos{
		background-color: #7fc31b;
	}
	.footer_btn_reportes {
		background-color: #4ea0c9;
	}
	.footer_btn_horarios {
		background-color: #349980;
	}
	.footer_btn_boletines{
		background-color: #81017d;
	}
	.footer_btn_documentos {
		background-color: #fea520;
	}
	.footer_btn_configuracion{
		background-color: #beac83;
	}
	.margin_arriba {
		margin: 5% 0 0 0;
	}
	/*FIN SIAC MENU PRINCIPAL*/
	.btn-iniciar-sesion {
	  line-height: 10px;
	  color: #FFF!important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
	  font-size: 1.2em;
	  background-image: none!important;
	  background-color: #4ba0c9!important;
	  border: 2px solid #4ba0c9;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	  height: 26px;
	}
	.btn-iniciar-sesion:hover {
	  border: 2px solid #3a8baa;
	  background-color: #3a8baa!important;
	}
	#btn_agregar {
		height: 35px;
	}
	.modal-header .close {
		margin: 6px 10px 0 0;
	}
	.recuadro_interno_siac {
		margin: 0.7% 0 0 0;
	}
	.titulo_cabezote {
		font-family: 'Prosto One', cursive;
		font-size: 6em;
		text-align: center;
		color: #4c4c4c;
		line-height: 80%;
		margin-top: 8%
	}
	.logo {
		background-image: url('../images/logo.png');
		background-repeat: no-repeat;
		display: inline-block;
		vertical-align: bottom;
		width: 270px;
		height: 37px;
	}
	.selector {
		border-radius: 15px;
		height: 20px;
		width: 100%;
		margin: 3px 0 0 0;
	}
	.texto_siac_centro {
		color: white;
		text-align: center;
	}
	.texto_siac_der {
		color: white;
		text-align: right;
		vertical-align: center;
	}
	.input_search_siac {
		background-color: #4ba0c9;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		margin: 0;
		height: 50px;
	}
	input[type="search"].busqueda_peticion {
		border-radius: 20px !important;
		border-width: 1px;
		color: #AAA;
		background-color: #FFF;
		border-color: #d5d5d5;
		box-shadow: none;
		-moz-transition-duration: .1s;
		-webkit-transition-duration: .1s;
		-o-transition-duration: .1s;
		-ms-transition-duration: .1s;
		transition-duration: .1s;
		width: 122px;
		height: 15px;
		margin: 8%;
		width: 75%;
	}

	/*submenu*/
	.btn-iniciar-submenu {
	  display: inline-block;
	  padding: 0 12px 1px;
	  line-height: 8px;
	  color: rgba(76,76,76,.8)!important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
	  font-size: 1.3em;
	  background-image: none!important;
	  background-color: #e6e6e6!important;
	  border: 5px solid #e6e6e6;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	  width: 100%;
	  height: 35px;
	}
	.btn-iniciar-submenu:hover {
	  border: 5px solid #4ba0c9;
	  background-color: #4ba0c9!important;
	  color: white !important;
	}
	#submenu {
		margin: 2% 0 0 0;
	}

	/*pidepagina*/
	.piedepagina{
		font-family: 'Noto Sans', sans-serif !important;
		background-color: #4c4c4c; 
		color: white;
		margin-top: 7%;
		position: absolute;
		bottom: 0;
	}

	/*navbar*/ 
	.aula_virtual>li {
		line-height: 45px;
		background-color: #0071bc;
		border-left: 1px solid #DDD;
		border-right: 1px solid #DDD;
		padding: 20;
		position: relative;
	}

	/*tabla*/

	#tabla {
		margin: 2% 0 0 0;
	}
	#botones_siac {
		margin: 2% 0 0 0;
	}
	.tabla_siac {
		height:170px;
		overflow-y:scroll;
		margin:0px;
		padding:0px;
		width:100%;
		border:1px solid rgba(76,76,76,0.8);
		
		-moz-border-radius-bottomleft:10px;
		-webkit-border-bottom-left-radius:10px;
		border-bottom-left-radius:10px;
		
		-moz-border-radius-bottomright:10px;
		-webkit-border-bottom-right-radius:10px;
		border-bottom-right-radius:10px;
		
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
		
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
	}

	.tabla_siac table {
		width:100%;
		height:100%;
		margin: 0;
		padding:0px;
	}
	.tabla_siac tr:last-child td:last-child {
		-moz-border-radius-bottomright:10px;
		-webkit-border-bottom-right-radius:10px;
		border-bottom-right-radius:10px;
	}
	.tabla_siac table tr:first-child td:first-child {
		-moz-border-radius-topleft:10px;
		-webkit-border-top-left-radius:10px;
		border-top-left-radius:10px;
	}
	.tabla_siac table tr:first-child td:last-child {
		-moz-border-radius-topright:10px;
		-webkit-border-top-right-radius:10px;
		border-top-right-radius:10px;
	}
	.tabla_siac tr:last-child td:first-child{
		-moz-border-radius-bottomleft:10px;
		-webkit-border-bottom-left-radius:10px;
		border-bottom-left-radius:10px;
	}
	.tabla_siac tr:hover td{
		
	}
	.tabla_siac tr:nth-child(odd){ background-color:#e5e5e5; }
	.tabla_siac tr:nth-child(even)    { background-color:#ffffff; }.tabla_siac td{
		vertical-align:middle;
		border:1px solid rgba(76,76,76,0.8);
		border-width:0px 1px 1px 0px;
		text-align:left;
		padding:7px;
		font-weight:normal;
		color: rgba(76,76,76,0.8);
	}
	.tabla_siac tr:last-child td{
		border-width:0px 1px 0px 0px;
	}
	.tabla_siac tr td:last-child{
		border-width:0px 0px 1px 0px;
	}
	.tabla_siac tr:last-child td:last-child{
		border-width:0px 0px 0px 0px;
	}
	.tabla_siac tr:first-child td{
		background-color:rgba(76,76,76,0.8);
		border:0px solid rgba(76,76,76,0.8);
		text-align: left;
		border-width: 0px 0px 1px 1px;
		font-size: 14px;
		font-weight: bold;
		color: white;
	}
	.tabla_siac tr:first-child:hover td{
		background-color:rgba(76,76,76,0.7);
	}
	.tabla_siac tr:first-child td:first-child{
		border-width:0px 0px 1px 0px;
	}
	.tabla_siac tr:first-child td:last-child{
		border-width:0px 0px 1px 1px;
	}
	td>a {
		color: #4ba0c9;
	}
	tr>.icono_siac {
		text-align: center;
	}

	::-webkit-scrollbar {
		width: 12px;
	}
	 
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		border-radius: 10px;
	}
	 
	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(76,76,76,0.5); 
	}

	.btn-iniciar-sesion-gris {
	  display: inline-block;
	  padding: 0 12px 1px;
	  line-height: 8px;
	  color: #FFF!important;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
	  font-size: 1.2em;
	  background-image: none!important;
	  background-color: #7C7C7C!important;
	  border: 5px solid #7C7C7C;
	  border-radius: 0.6em!important;
	  box-shadow: none!important;
	  -moz-transition: all .1s ease-in-out;
	  -webkit-transition: all .1s ease-in-out;
	  -o-transition: all .1s ease-in-out;
	  -ms-transition: all .1s ease-in-out;
	  transition: all .1s ease-in-out;
	  cursor: pointer;
	  vertical-align: middle;
	  margin-top : 10px;
	  position: relative;
	  height: 35px;
	}
	.btn-iniciar-sesion-gris:hover {
	  border: 5px solid #6D6D6D;
	  background-color: #6D6D6D!important;
	}


	/*modal*/
	body .modal-body {
		width: 940px;
		max-height: 495px;
	}
	.modal {
		position: fixed;
		top: 10%;
		left: 50%;
		z-index: 1050;
		width: 1000px;
		margin-left: -500px;
		background-color: #ffffff;
		border: 1px solid #999;
		border: 1px solid rgba(0, 0, 0, 0.3);
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		outline: none;
		-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
		background-clip: padding-box;
	}
	.input_modal {
		width: 100%;
	}
	.input_modal_fecha {
		width: 80%;
	}
	.input_modal_fecha_left {
		width: 100%;
	}
	.input_modal_select {
		width: 110%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 0px;
	}
	.input_modal_select_right {
		width: 90%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		margin-left: 0px;
	}
	.texto_derecha_modal {
		text-align: right;
		padding: 12px 0 0 0;
	}

	input[type="text"], input[type="datetime"], 
	input[type="datetime-local"], input[type="date"], 
	input[type="month"], input[type="time"], 
	input[type="week"], input[type="number"], 
	input[type="email"], input[type="url"], 
	input[type="search"], input[type="tel"], 
	input[type="color"], .uneditable-input {
		display: inline-block;
		height: 17px;
		padding: 4px 6px;
		margin-bottom: 10px;
		font-size: 15px;
		line-height: 20px;
		color: #555;
		vertical-align: middle;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	select {
		display: inline-block;
		height: 27px;
		padding: 4px 6px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 20px;
		color: #555;
		vertical-align: middle;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.fondo_gris_modal {
		border-radius: 20px;
		background-color: rgba(76,76,76,0.8);
		height: 22px;
		width: 700px;
		vertical-align: middle;
		color: white;
		padding: 3px;
	}
	.modal-footer {
		padding: 14px 15px 15px;
		margin-bottom: 0;
		text-align: right;
		background-color: #f5f5f5;
		border-top: 1px solid #ddd;
		-webkit-border-radius: 0 0 6px 6px;
		-moz-border-radius: 0 0 6px 6px;
		border-radius: 0 0 6px 6px;
		-webkit-box-shadow: inset 0 1px 0 #fff;
		-moz-box-shadow: inset 0 1px 0 #fff;
		box-shadow: inset 0 1px 0 #fff;
		text-align: center;
	}
	div.modal-footer>button {
		margin: 0;
	}
}