<!doctype html>
<html lang="es-CO">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Language" value="es-CO" />
	<meta name="description" content="overview & stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans|Prosto+One' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/datepicker.css" rel="stylesheet" />
	<link href="less/datepicker.less" rel="stylesheet"/>
	<link href="css/ace.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/siac.css">
	<link rel="stylesheet" href="css/profesor.css">
	<link rel="stylesheet" href="css/font-awesome.css" />
	<title>SIAC</title>
</head>
<body>
	<!-- Barra de Navegacion -->
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span10 offset1">            
						<a class="logo" href="{% url 'aula_virtual_profesor' %}"></a>
						<ul class="aula_virtual nav ace-nav pull-right">
							<li class="green1">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Correo
									<i class="fa fa-envelope" id="icono_navbar"></i>
									<!-- <span class="badge badge-success">5</span> -->
								</a>
								<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
									<li class="nav-header">
										<a href="">
											Ver Correo
											<i class="fa fa-envelope" style=" margin-left: 5px;"></i>
										</a>
									</li>
								</ul>
							</li>

							<li class="azul">
								<a href="{% url 'estudiante' %}" class="dropdown-toggle" data-toggle="dropdown">
									Aula Virtual
									<i class="fa fa-clipboard" id="icono_navbar"> </i>
									<!-- <span class="badge">4</span> -->
								</a>
							</li>                   

							<a href="#perfil">
								<span id="user_info" class='fuente-usuario'>
									{{ user.first_name|upper }} {{ user.last_name|upper }}
								</span>
							</a>
							<a href="{% url 'salir' %}">
								<button class='btn-iniciar-sesion btn-small-inicio-sesion btn-primary-inicio-sesion'>Cerrar Sesión</button>
							</a>
						</ul>
					</div>
				</div>
			</div><!--/.container-fluid-->
		</div><!--/.navbar-inner-->
	</div><!--/.navbar-->
	<!-- Fin Barra de Navegacion -->

	<div class="margen_inferior_body">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span10 offset1">
					<!-- Cabezote -->
					<section>
						<div class="row-fluid" id="cabezote_profesor">
							<div class="span4">
								<img src="images/siac.png">
							</div>
							<div class="span8">
								<h1 class="titulo_cabezote">SIAC</h1>
							</div>
						</div>
					</section>
					<!-- Fin Cabezote -->

					<!-- SIAC -->
					<section>
						<div class="row-fluid">
							<div class="span10 offset1">
								<!-- menu -->
								<div class="row-fluid" align="center">
									<ul id="lista_btn_siac">
										<li class="enlinea">
											<a href="">
												<div class="btn_small_siac">
													<div class="cabeza_btn"></div>
													<div class="cuerpo_btn_registro"></div>
													<div class="pie_btn_registro activo">Registro y Control</div>
												</div>
											</a>
										</li>
										<li class="enlinea">
											<a href="">
												<div class="btn_small_siac">
													<div class="cabeza_btn"></div>
													<div class="cuerpo_btn_procesos"></div>
													<div class="pie_btn_procesos">Procesos</div>
												</div>
											</a>                                        
										</li>
										<li class="enlinea">
											<a href="">
												<div class="btn_small_siac">
													<div class="cabeza_btn"></div>
													<div class="cuerpo_btn_reportes"></div>
													<div class="pie_btn_reportes">Reportes</div>
												</div>
											</a>                                         
										</li>
										<li class="enlinea">
											<a href="">
												<div class="btn_small_siac">
													<div class="cabeza_btn"></div>
													<div class="cuerpo_btn_horarios"></div>
													<div class="pie_btn_horarios">Horarios</div>
												</div>
											</a>                                         
										</li>
										<li class="enlinea">
											<a href="">
												<div class="btn_small_siac">
													<div class="cabeza_btn"></div>
													<div class="cuerpo_btn_boletines"></div>
													<div class="pie_btn_boletines">Boletines</div>
												</div>
											</a>                                         
										</li>
										<li class="enlinea">
											<a href="">
												<div class="btn_small_siac">
													<div class="cabeza_btn"></div>
													<div class="cuerpo_btn_documentos"></div>
													<div class="pie_btn_documentos">Documentos</div>
												</div>
											</a>                                         
										</li>
										<li class="enlinea">
											<a href="">
												<div class="btn_small_siac">
													<div class="cabeza_btn"></div>
													<div class="cuerpo_btn_configuracion"></div>
													<div class="pie_btn_configuracion">Configuración</div>
												</div>
											</a>                                         
										</li>
									</ul>
								</div>
								<!-- fin menu -->

								<!-- submenú -->
								<div id="submenu">
								  <div class="row-fluid">
									<div class="span2">
									  <button class="btn-iniciar-submenu btn-small-inicio-sesion btn-primary-inicio-sesion" data-toggle="modal" data-target="#myModal_agregar" id="btn_agregar">Estudiantes</button>
									</div>
									<div class="span2">
									  <button class="btn-iniciar-submenu btn-small-inicio-sesion btn-primary-inicio-sesion" data-toggle="modal" data-target="#myModal_agregar" id="btn_agregar">Profesores</button>                               
									</div>
									<div class="span2">
									  <button class="btn-iniciar-submenu btn-small-inicio-sesion btn-primary-inicio-sesion coordinadores_btn" data-toggle="modal" data-target="#myModal_agregar" id="btn_agregar">Coordinadores</button>                                
									</div>
									<div class="span2">
									  <button class="btn-iniciar-submenu btn-small-inicio-sesion btn-primary-inicio-sesion" data-toggle="modal" data-target="#myModal_agregar" id="btn_agregar">Monjas</button>                               
									</div>
									<div class="span2">
									  <button class="btn-iniciar-submenu btn-small-inicio-sesion btn-primary-inicio-sesion" data-toggle="modal" data-target="#myModal_agregar" id="btn_agregar">Notas</button>                                
									</div>
									<div class="span2">
									  <button class="btn-iniciar-submenu btn-small-inicio-sesion btn-primary-inicio-sesion" data-toggle="modal" data-target="#myModal_agregar" id="btn_agregar">Asistencia</button>                               
									</div>
								  </div>
								  <div class="row-fluid">
									<div class="span2">
									  <button class="btn-iniciar-submenu btn-small-inicio-sesion btn-primary-inicio-sesion" data-toggle="modal" data-target="#myModal_agregar" id="btn_agregar">Estudiantes</button>                                
									</div>
									<div class="span2">
									  <button class="btn-iniciar-submenu btn-small-inicio-sesion btn-primary-inicio-sesion" data-toggle="modal" data-target="#myModal_agregar" id="btn_agregar">Estudiantes</button>                                
									</div>
								  </div>
								</div>
								<!-- fin submenú -->


								<div class="row-fluid">
									<div class="span2 offset9">
										<form class="input_search_siac">
											<input type="search" class="busqueda_peticion" placeholder="Buscar&hellip;">
										</form>
									</div>
								</div>

								<div class="row-fluid fondo_gris">
									<div class="recuadro_interno_siac">
										<div class="span2"><p class="texto_siac_centro">FILTRAR POR:</p></div>
										<div class="span1"><p class="texto_siac_der">Jornada</p></div>
										<div class="span2"><select class="selector"name="jornada" id="id_jornada"></select></div>
										<div class="span1"><p class="texto_siac_der">Grado</p></div>
										<div class="span2"><select class="selector"name="grado" id="id_grado"></select></div>
										<div class="span1"><p class="texto_siac_der">Sede</p></div>
										<div class="span2"><select class="selector"name="sede" id="id_sede"></select></div>
										<div class="span1"></div>
									</div>
								</div>

								<div class="row-fluid" id="tabla">
									<div class="tabla_siac" >
										<table >
											<tr>
												<td class=""></td>
												<td>Código Curso</td>
												<td>Descripción</td>
												<td>Jornada</td>
												<td>Grado</td>
												<td>Sede</td>
											</tr>
											<tr>
												<td class="icono_siac"><a href=""><i class="fa fa-plus-circle fa-lg" data-target="#myModal_agregar" data-toggle="modal"></i></a></td>
												<td>103</td>
												<td>DÉCIMO A</td>
												<td>M</td>
												<td>DÉCIMO</td>
												<td>Las Enramadas</td>
											</tr>
											<tr>
												<td class="icono_siac"><a href=""><i class="fa fa-plus-circle fa-lg" data-target="#myModal_agregar" data-toggle="modal"></i></a></td>
												<td>263</td>
												<td>SEXTO A</td>
												<td>T</td>
												<td>SEXTO</td>
												<td>Principal</td>
											</tr>
											<tr>
												<td class="icono_siac"><a href=""><i class="fa fa-plus-circle fa-lg" data-target="#myModal_agregar" data-toggle="modal"></i></a></td>
												<td>105</td>
												<td>DÉCIMO B</td>
												<td>M</td>
												<td>DÉCIMO</td>
												<td>Principal</td>
											</tr>
											<tr>
												<td class="icono_siac"><a href=""><i class="fa fa-plus-circle fa-lg" data-target="#myModal_agregar" data-toggle="modal"></i></a></td>
												<td>123</td>
												<td>SEXTO C</td>
												<td>M</td>
												<td>SEXTO</td>
												<td>Principal</td>
											</tr>
											<tr>
												<td class="icono_siac"><a href=""><i class="fa fa-plus-circle fa-lg" data-target="#myModal_agregar" data-toggle="modal"></i></a></td>
												<td>320</td>
												<td>DÉCIMO C</td>
												<td>T</td>
												<td>DÉCIMO</td>
												<td>Divino Niño</td>
											</tr>                                        
										</table>
									</div>
								</div>

								<div class="row-fluid" id="botones_siac">
									<div class="span2 offset5" align="center">
										<button class='btn-iniciar-sesion btn-small-inicio-sesion btn-primary-inicio-sesion' data-toggle="modal" data-target="#myModal_agregar" id="btn_agregar">AGREGAR</button>
									</div>
									<div class="span1 offset1" align="center">
										<button class='btn-iniciar-sesion-gris btn-small-inicio-sesion btn-primary-inicio-sesion'>Excel</button>
									</div>
									<div class="span2" align="center">
										<button class='btn-iniciar-sesion-gris btn-small-inicio-sesion btn-primary-inicio-sesion' id="copiar_btn">Copiar Tabla</button>
									</div>
									<div class="span1" align="center">
										<button class='btn-iniciar-sesion-gris btn-small-inicio-sesion btn-primary-inicio-sesion'>PDF</button>
									</div>
								</div>

							</div>
						</div>
					</section>
					<!-- Fin SIAC -->
				</div>
			</div>
		</div>
	</div>
	<!-- piedepagina -->
	<div class="row-fluid piedepagina">
		<div class="span12" >
			<p style="text-align:center; color:white" >© LA PRESENTACIÓN 2013 All right reserved.</p>
		</div>
	</div>
	<!-- fin piedepagina -->
	

	<!-- Modal -->
	<div class="modal fade hide" id="myModal_agregar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header" align="center">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title fondo_gris_modal" id="myModalLabel">Registro Profesor</h4>
		  </div>
		  <div class="modal-body ancho">

			<div class="row-fluid">
			  <div class="span2 texto_derecha_modal">Nombres</div>
			  <div class="span2">
				<input class="input_modal" type="text" placeholder="">
			  </div>
			  <div class="span2 texto_derecha_modal">Apellidos</div>
			  <div class="span2">
				<input class="input_modal" type="text" placeholder="">
			  </div>
			  <div class="span2 texto_derecha_modal">Fecha Ingreso</div>
			  <div class="span2">
				<input type="text" class="input_modal_fecha" value="dd-mm-aaaa" id="dp1">
			  </div>
			</div>

			<div class="row-fluid">
			  <div class="span2 texto_derecha_modal">Tipo ID</div>
			  <div class="span2">
				<select class="input_modal_select">
				  <option>CC</option>
				  <option>TI</option>
				  <option>CE</option>
				</select>
			  </div>
			  <div class="span2 texto_derecha_modal">Identificación</div>
			  <div class="span2">
				<input class="input_modal" placeholder="Sólo Dígitos" type="text" id="identificacion"></input>
			  </div>
			  <div class="span2 texto_derecha_modal">Nacionalidad</div>
			  <div class="span2">
				<input type="text" class="input_modal_fecha">
			  </div>              
			</div>

			<div class="row-fluid">
			  <div class="span2 texto_derecha_modal">Dirección</div>
			  <div class="span2">
				<input class="input_modal" type="text" placeholder="">
			  </div>
			  <div class="span2 texto_derecha_modal">Teléfono</div>
			  <div class="span2">
				<input class="input_modal" type="text" placeholder="">
			  </div>
			  <div class="span2 texto_derecha_modal">Fecha Nacimiento</div>
			  <div class="span2">
				<input type="text" class="input_modal_fecha" value="dd-mm-aaaa" id="dp1">
			  </div>              
			</div>

			<div class="row-fluid">
			  <div class="span2 texto_derecha_modal">Tipo Contrato</div>
			  <div class="span2">
				<input class="input_modal" type="text" placeholder="">
			  </div>
			  <div class="span2 texto_derecha_modal">Celular</div>
			  <div class="span2">
				<input class="input_modal" type="text" placeholder="">
			  </div>
			  <div class="span2 texto_derecha_modal">Escalafón</div>
			  <div class="span2">
				<input type="text" class="input_modal_fecha" value="dd-mm-aaaa" id="dp1">
			  </div>                
			</div>

			<div class="row-fluid">
			  <div class="span2 texto_derecha_modal">Fecha Amenaza</div>
			  <div class="span2">
				<input type="text" class="input_modal_fecha_left" value="dd-mm-aaaa" id="dp1">
			  </div>
			  <div class="span2 texto_derecha_modal">Nivel Educativo</div>
			  <div class="span2">
				<select class="input_modal_select">
				  <option>Universidad</option>
				  <option>Especialización</option>
				  <option>Máster</option>
				  <option>Doctorado</option>
				</select>               
			  </div>
			  <div class="span2 texto_derecha_modal">Sexo</div>
			  <div class="span2">
				<select class="input_modal_select_right">
				  <option>Hombre</option>
				  <option>Mujer</option>
				</select> 
			  </div>                
			</div>

			<div class="row-fluid">
			  <div class="span2 texto_derecha_modal">Niv. Ed. Enseñanza</div>
			  <div class="span2">
				<select class="input_modal_select">
				  <option>Primaria</option>
				  <option>Bachillerato</option>
				</select>   
			  </div>
			  <div class="span2 texto_derecha_modal">Amenazado</div>
			  <div class="span2">
				<select class="input_modal_select">
				  <option>Si</option>
				  <option>No</option>
				</select>               
			  </div>
			</div>

		  </div>
		  <div class="modal-footer">
			<button class='btn-iniciar-sesion btn-small-inicio-sesion btn-primary-inicio-sesion'>GUARDAR</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<!-- scripts -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.min.map"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
	<!-- fin scripts -->
	<!-- JS -->
	<script type="text/javascript">
	  $(document).ready(function () {
	  $("#identificacion").keypress(function (e) {
		 if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
			 $("#errmsg").html("No válido").show().fadeOut("slow");
				   return false;
		}
	   });
	});
	</script>
</body>
</html>