<!doctype html>
<html lang="es-CO">
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" value="es-CO" />
		<meta name="description" content="overview & stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<link href='http://fonts.googleapis.com/css?family=Noto+Sans|Prosto+One' rel='stylesheet' type='text/css'>
		<link href="css/bootstrap.css" rel="stylesheet" />
		<link href="css/datepicker.css" rel="stylesheet" />
		<link href="less/datepicker.less" rel="stylesheet"/>
		<link href="css/ace.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/siac.css">
		<link rel="stylesheet" href="css/profesor.css">
		<link rel="stylesheet" href="css/font-awesome.css" />
		<title>SIAC</title>
</head>
<body>
		<!-- Barra de Navegacion -->
		<div class="navbar navbar-inverse">
				<div class="navbar-inner">
						<div class="container-fluid">
								<div class="row-fluid">
										<div class="span10 offset1">            
												<a class="logo" href="{% url 'aula_virtual_profesor' %}"></a>
												
												<ul class="aula_virtual nav ace-nav pull-right">
														<li class="green1">
																<a href="#" class="dropdown-toggle" data-toggle="dropdown">
																		Correo
																		<i class="fa fa-envelope" id="icono_navbar"></i>
																		<!-- <span class="badge badge-success">5</span> -->
																</a>
																<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
																		<li class="nav-header">
																				<a href="">
																						Ver Correo
																						<i class="fa fa-envelope" style=" margin-left: 5px;"></i>
																				</a>
																		</li>
																</ul>
														</li>

														<li class="azul">
																<a href="{% url 'estudiante' %}" class="dropdown-toggle" data-toggle="dropdown">
																		Aula Virtual
																		<i class="fa fa-clipboard" id="icono_navbar"> </i>
																		<!-- <span class="badge">4</span> -->
																</a>
														</li>                   

														<a href="#perfil">
																<span id="user_info" class='fuente-usuario'>
																		{{ user.first_name|upper }} {{ user.last_name|upper }}
																</span>
														</a>
														<a href="{% url 'salir' %}">
																<button class='btn-iniciar-sesion btn-small-inicio-sesion btn-primary-inicio-sesion alineacion_vertical'>Cerrar Sesión</button>
														</a>
												</ul>
										</div>
								</div>
						</div><!--/.container-fluid-->
				</div><!--/.navbar-inner-->
		</div><!--/.navbar-->
		<!-- Fin Barra de Navegacion -->

	<div class="margen_inferior_body">
		<div class="container-fluid">
				<div class="row-fluid">
						<div class="span10 offset1">
								
								<!-- Cabezote -->
								<section>
										<div class="row-fluid" id="cabezote_profesor">
												<div class="span4">
														<img src="images/siac.png">
												</div>
												<div class="span8">
														<h1 class="titulo_cabezote">SIAC</h1>
												</div>
										</div>
								</section>
								<!-- Fin Cabezote -->

								<section>
									 <div class="row-fluid">
											 <div class="span10 offset1">

													 <div class="row-fluid margin_arriba" align="center">
																<div class="span4">
																		<a href="" class="">
																			 <div class="boton_siac_grande imgs_profesor_siac">
																					 <div class="header_btn_siac"></div>
																					 <div class="body_btn_siac">
																							 <img src="images/registro_y_control.png" class="responsive_grande_img_siac">
																					 </div>
																					 <div class="footer_btn_registro">Registro y Control</div>
																			 </div>
																		</a>
																</div>
																<div class="span4">
																		<a href="" class="">
																			 <div class="boton_siac_grande imgs_profesor_siac">
																					 <div class="header_btn_siac"></div>
																					 <div class="body_btn_siac">
																							 <img src="images/procesos.png" class="responsive_grande_img_siac">
																					 </div>
																					 <div class="footer_btn_procesos">Procesos</div>
																			 </div>
																		</a>
																</div>
																<div class="span4">
																		<a href="" class="">
																			 <div class="boton_siac_grande imgs_profesor_siac">
																					 <div class="header_btn_siac"></div>
																					 <div class="body_btn_siac">
																							 <img src="images/procesos.png" class="responsive_grande_img_siac">
																					 </div>
																					 <div class="footer_btn_reportes">Reportes</div>
																			 </div>
																		</a>
																</div>                                                   
														</div>

														<div class="row-fluid margin_arriba" align="center">
																<div class="span4">
																		<a href="" class="">
																			 <div class="boton_siac_grande imgs_profesor_siac">
																					 <div class="header_btn_siac"></div>
																					 <div class="body_btn_siac">
																							 <img src="images/horarios.png" class="responsive_grande_img_siac">
																					 </div>
																					 <div class="footer_btn_horarios">Horarios</div>
																			 </div>
																		</a>
																</div>
																<div class="span4">
																		<a href="" class="">
																			 <div class="boton_siac_grande imgs_profesor_siac">
																					 <div class="header_btn_siac"></div>
																					 <div class="body_btn_siac">
																							 <img src="images/boletines.png" class="responsive_grande_img_siac">
																					 </div>
																					 <div class="footer_btn_boletines">Boletines</div>
																			 </div>
																		</a>
																</div>
																<div class="span4">
																		<a href="" class="">
																			 <div class="boton_siac_grande imgs_profesor_siac">
																					 <div class="header_btn_siac"></div>
																					 <div class="body_btn_siac">
																							 <img src="images/documentos.png" class="responsive_grande_img_siac">
																					 </div>
																					 <div class="footer_btn_documentos">Documentos</div>
																			 </div>
																		</a>
																</div>                                                    
														</div>

														<div class="row-fluid margin_arriba">
																<div class="span4 offset4" align="center">
																		<a href="" class="">
																			 <div class="boton_siac_grande imgs_profesor_siac">
																					 <div class="header_btn_siac"></div>
																					 <div class="body_btn_siac">
																							 <img src="images/configuracion.png" class="responsive_grande_img_siac">
																					 </div>
																					 <div class="footer_btn_configuracion">Configuración</div>
																			 </div>
																		</a>
																</div>
														</div>      

											 </div>
									 </div>
								</section>


						</div>
				</div>
		</div>
	</div>
	<!-- piedepagina -->
	<div class="row-fluid piedepagina">
			<div class="span12" >
					<p style="text-align:center; color:white" >© LA PRESENTACIÓN 2013 All right reserved.</p>
			</div>
	</div>
	<!-- fin piedepagina -->

</body>
</html>